.loader {
  margin: 300px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

th,
td {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.table-color tr {
  background-color: #7f8ff73d;
}
