.card {
  background-color: #7f8ff73d;
}

.btn-info {
  background-color: #282f5d;
  border-color: #282f5d;
}

.btn-info:hover {
  background-color: #282f66;
  border-color: #282f5d;
}
.btn-info:focus {
  background-color: #282f5d;
  border-color: #282f5d;
}
